@model Producto
@{
    ViewData["Title"] = "_1C_Productos";
    Layout = "_Layout";
    var productos = ViewBag.Productos as List<Producto>;
}

@if(TempData["SuccessMessage"]!=null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form id="productoForm" asp-action="Cre_Pro" method="post">
    <div class="text-center">
        <h1 class="display-4">_1C_Productos</h1>
        <div>

            <div class="boxInputs">
                 <div class="form-group">
                    <label id="Ide_Pro_Hid_Lab" style="display: none;">Identificación:</label>
                    <input id="Ide_Pro_Hid_Inp" asp-for="IdProducto" type="hidden" class="form-control" placeholder="Identificaciones del producto." style="display: none;   />
                </div>

                <div class="form-group">
                    <label>Nombre</label>
                    <input asp-for="Nombre" type="text" class="form-control" placeholder="Nombre del producto" id="NombreId" />
                </div>

                <div class="form-group">
                    <label>Descripción</label>
                    <textarea asp-for="Descripcion" class="form-control" id="TADescripcion" placeholder="Descripcion del producto"  rows="2" cols="20"></textarea>
                </div>

                <div class="form-group">
                    <label>Precio</label>
                    <input asp-for="Precio" class="form-control" type="text" step="0.01" placeholder="0.00" id="Precio" />
                </div>

                <div class="form-group">
                    <label>Cantidad en Stock</label>
                    <input asp-for="Stock" class="form-control" type="number" placeholder="0" id="Stock" />
                </div>

                <div class="form-group">
                    <label>Identificacion del Proveedor</label>
                    <input asp-for="IdProveedor" type="text" class="form-control" placeholder="Id del Proveedor" id="ProveedorId" />
                </div>
            </div>
            <button type="reset" class="btn btn-secondary">Limpiar</button>
            <button type="submit" class="btn btn-primary">Agregar producto</button>
            <button type="button" id="btnEditar" class="btn btn-info" onclick="actualizarProducto()">Editar</button>
        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead class="table-header">
                    <tr>
                        <th>IdProducto</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>IdProveedor</th>
                        <th>FechaAdicion</th>
                        <th>Adicionador Por</th>
                        <th>FechaModificacion</th>
                        <th>Modificado Por</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @if (productos != null)
                    {
                        @foreach (var producto in productos)
                        {
                            <tr>
                                <td>@producto.IdProducto</td>
                                <td>@producto.Nombre</td>
                                <td>@producto.Descripcion</td>
                                <td>@producto.Precio</td>
                                <td>@producto.Stock</td>
                                <td>@producto.IdProveedor</td>
                                <td>@(producto.FechaAdicion == DateTime.MinValue ? "N/A" : producto.FechaAdicion.ToString("yyyy-MM-dd HH:mm"))</td>
                                <td>@producto.AdicionadoPor</td>
                                <td>@(producto.FechaModificacion == DateTime.MinValue ? "N/A" : producto.FechaModificacion.ToString("yyyy-MM-dd HH:mm"))</td>
                                <td>@producto.ModificacionPor</td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-sm" onclick="cargarProducto(@producto.IdProducto,'@producto.Nombre','@producto.Descripcion',@producto.Precio,@producto.Stock,@producto.IdProveedor)">
                                        Editar
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" onclick="eliminarProducto(@producto.IdProducto)">
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>    
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    document.getElementById('btnEditar').style.display = 'none';

    function eliminarProducto(id) {
        if (confirm("¿Estás seguro de que deseas eliminar este producto?")) {
            fetch(`/Home/Eli_Pro/${id}`, {
                method: 'DELETE',
            })
            .then(response => {
                if (response.ok) {
                    location.reload(); 
                }
            })
        }
    }
    function cargarProducto(Id,Nombre, Descripcion, Precio, Stock, Id_Proveedor) {
        document.getElementById("Ide_Pro_Hid_Inp").value = Id;
        document.getElementById("NombreId").value = Nombre;
        document.getElementById("TADescripcion").value = Descripcion;
        document.getElementById("Precio").value = Precio;
        document.getElementById("Stock").value = Stock;
        document.getElementById("ProveedorId").value = Id_Proveedor;

        document.getElementById('btnEditar').style.display = 'inline';
        //document.getElementById('Ide_Pro_Hid_Lab').style.display = 'inline';
        document.getElementById('Ide_Pro_Hid_Inp').style.display = 'inline-block';
    }
    function actualizarProducto() {
        console.log(document.getElementById("NombreId").value);

        let idProducto = document.getElementById("Ide_Pro_Hid_Inp").value;
        let nombre = document.getElementById("NombreId").value;
        let descripcion = document.getElementById("TADescripcion").value;
        let precio = parseFloat(document.getElementById("Precio").value);
        let stock = parseInt(document.getElementById("Stock").value);
        let idProveedor = document.getElementById("ProveedorId").value;
        idProveedor = idProveedor ? parseInt(idProveedor) : null;

        fetch(`/Home/Edi_Pro`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                IdProducto: idProducto,
                Nombre: nombre,
                Descripcion: descripcion,
                Precio: precio,
                Stock: stock,
                IdProveedor: idProveedor,
                ModificadoPor: "Admin"
            })
        })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    return response.text().then(text => { throw new Error(text) });
                }
            })
            .catch(error => {
                console.error("Error:", error);
                alert("Error al actualizar el producto: " + error.message);
            });

        document.getElementById('btnEditar').style.display = 'none';
        document.getElementById('Ide_Pro_Hid_Lab').style.display = 'none';
        document.getElementById('Ide_Pro_Hid_Inp').style.display = 'none';

        document.getElementById("Ide_Pro_Hid_Inp").value = "";
        document.getElementById("NombreId").value = "";
        document.getElementById("TADescripcion").value = "";
        document.getElementById("Precio").value = "";
        document.getElementById("Stock").value = "";
        document.getElementById("ProveedorId").value = "";
    }
</script>